adium-theme-ubuntu==0.3.4
configobj==5.0.6
cryptography==1.2.3
docopt==0.6.2
enum34==1.1.2
gyp==0.1
idna==2.0
ipaddress==1.0.16
liblarch==2.1.0
pagekite==0.5.8a0
pipreqs==0.4.6
pyasn1==0.1.9
pycurl==7.43.0
pygobject==3.20.0
pyOpenSSL==0.15.1
python-apt==1.1.0b1
pyxdg==0.25
requests==2.12.4
scour==0.32
simplejson==3.8.1
six==1.10.0
SocksipyChain==2.0.15
unity-lens-photos==1.0
yarg==0.1.9
